.jogo {
    position: relative;
    background-color: rgb(196, 193, 189);
    width: 100%;
    height: 100vh; 
}

.jogo-main .sair {
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: row;
    background-color: aliceblue;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: none;
    margin: 10px;
    padding: 8px 12px;
    border-radius: 8px;
    gap: 8px; 
    cursor: pointer;
}

.jogo-main .sair:hover {
    border: 2px solid #cc2525;
}

.jogo-main #sair {
    border: none;
    background: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jogo-main #sair img {
    width: 20px;
    height: 20px;
}

.jogo-main .jogo .tabela-jogo {
    position: relative;
    margin: auto auto calc(var(--tamanho)*0.2) auto;
    
    background-color: orange; 

    border-radius: 0px 0px 30px 30px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    width: 50%;
    min-height: 80px;
    padding: 10px; 
    color: black; 
    
    line-height: 1.5; 
}

.jogo-main .jogo .tabela-jogo p {
    margin-bottom: auto;
}

.jogo-main .jogo .ct-tabela-jogo {
    width: 80%;
    background-color: transparent;
    margin: 0 auto; 
}

.jogo-main .popup-Vencedor {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; /*ocultar enquanto nao existir vencedor/empate */

    background-color: #cc2525;
    width: 400px;
    height: 400px;
    border-radius: 20px;
    z-index: 1000;
}

/* pop up visivel quando winner != 0 */
.jogo-main .popup-Vencedor.show {
    display: flex;
    align-items: center;
    justify-content: center;
}

