.tabela {
    display: grid;
    grid-template-columns: repeat(var(--colunas), var(--tamanho));
    grid-template-rows: repeat(var(--linhas), var(--tamanho));
    position: relative;

    margin: auto;              
    width: calc(var(--colunas) * var(--tamanho)); 
}

.tabela div {
    background: url(../../../assets/images/quadrado.svg) ;
}

