:root{
    --tamanho : 100px;
    --colunas : 7;
    --linhas : 6;
    --p1 : #ff0000;
    --p2 : #fdd628;
    --cor_fundo : #1e1e2f
}

* {
    box-sizing: border-box;
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #c4c1bd;
}
  